body {
    background: url(pics/pic1.jpg)center/cover no-repeat;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  .main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;align-items: center;

  }
  button {
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background: rgba(120,120,120,0.5);
    margin: 10px;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
  }
  .btn1{
    background-color: red;
  }
.restart{
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgba(red, green, blue, 0.5);
}